.profile__avatar-edit{
    position: absolute;
    border-radius: 45%;
    cursor: pointer;
    width: 7.5rem;
    height: 7.5rem;
    top: 0;
    transition: opacity linear 0.3s;
    background-color: black;
    opacity: 0;
}

.profile__avatar-edit:hover{
    opacity: 0.8;
    background-image: url('../../../images/edit-avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
}